.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0px;
  grid-column: 1/2;
  grid-row: 1/2;
}

@media all and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media all and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    grid-column: 1/-1;
    grid-row: 1/2;
    width: calc(100% - 16px * 2);
    margin: 0 auto;
  }
}
